{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/elementUI/elementUI.css' %}">
    <link rel="stylesheet" href="{% static 'css/showPage.css' %}">
    <!-- 引入组件库 -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plugins/vue/vue.js' %}"></script>
    <script src="{% static 'plugins/elementUI/elementUI.js' %}"></script>
    <script src="{% static 'plugins/scrollreveal/scrollreveal.js' %}"></script>
</head>
<body>
<el-menu class="el-menu-demo" mode="horizontal" @select="handleSelect" id="app">
    <div class="titleText"
         style="display: inline-block;font-family:'PingFang SC';font-weight: bolder;font-size:x-large;margin-left: 2%;color: #559eff;padding-top: 0.5%">
        前 端 技 术
    </div>
    <div class="loginPart" style="margin-bottom: 0.5%;margin-left: 86%;display: inline;font-size: x-large;">
        {% if loginMessage == "Failure" %}
            <el-button class="loginPart" @click="loginFormVisible = true" icon="el-icon-user"
                       style="margin-bottom: 0.5%;"
                       circle></el-button>
            <el-button class="loginPart" icon="el-icon-plus" @click="registerFormVisible = true"
                       circle></el-button>

            {#------------------------------登录界面------------------------------#}
            <el-dialog title="欢迎登录" :visible.sync="loginFormVisible" :append-to-body="true" width="35%">
                <form style="text-align:center;" action="/login" method="get">
                    {% csrf_token %}
                    <div><input type="text" name="username" placeholder="请输入用户名" style="color: #559eff"></div>
                    <div><input type="password" name="pwd" placeholder="请输入您的密码" style="color: #559eff"></div>
                    <div><input type="submit" value="登录" style="background-color: #559eff;color: white"></div>
                </form>
            </el-dialog>
            {#------------------------------登录界面------------------------------#}

            {#------------------------------注册界面------------------------------#}
            <el-dialog title="欢迎注册" :visible.sync="registerFormVisible" :append-to-body="true" width="35%">
                <form style="text-align:center;" action="/register">
                    {% csrf_token %}
                    <div><input type="text" name="username" placeholder="请输入用户名" style="color: #559eff"></div>
                    <div><input type="password" name="pwd" placeholder="请输入您的密码" style="color: #559eff"></div>
                    <div><input type="password" name="showName" placeholder="请输入您的昵称" style="color: #559eff"></div>
                    <div><input type="submit" value="注册" style="background-color: #559eff;color: white"></div>
                </form>
            </el-dialog>
            {#------------------------------注册界面------------------------------#}


        {% elif loginMessage == "Succeed" %}
            <el-button class="loginPart" type="primary" icon="el-icon-user"
                       style="margin-bottom: 0.5%;"
                       data-bs-toggle="popover"
                       title="{{ tempUser.userName }}，您好"
                       data-bs-content="余额：￥{{ tempUser.wallet }}"
                       circle></el-button>
            <el-button class="loginPart" type="primary" icon="el-icon-plus" @click="rechargeFormVisible = true"
                       circle></el-button>
            {#------------------------------充值界面------------------------------#}
            <el-dialog title="欢迎充钱" :visible.sync="rechargeFormVisible" :append-to-body="true" width="35%">
                <form style="text-align:center;" action="/recharge" method="get">
                    {% csrf_token %}
                    <input type="text" name="rechargeUser" value="{{ tempUser.username }}" style="display: none;">
                    <div><input type="text" name="recharge" placeholder="请输入充值金额" style="color: #559eff"></div>
                    <img src="{% static 'png/myWallet.jpg' %}" style="height: 64%;width: 48%">
                    <div><input type="submit" value="充值" style="background-color: #559eff;color: white"></div>
                </form>
            </el-dialog>
            {#------------------------------充值界面------------------------------#}
        {% endif %}

    </div>
</el-menu>


<!-- On tables -->
<div style="width: 70%; margin-left: 32%;text-align: center;margin-top: 5%">
    <table class="table" style="width: 50%;">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">productName</th>
        <th scope="col">price</th>
        <th scope="col">date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>{{ tempProduct.showName }}</td>
        <td>{{ tempProduct.price }}</td>
        <td>{{ time }}</td>
    </tr>
    </tbody>
</table>
</div>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                loginFormVisible: false,
                registerFormVisible: false,
                rechargeFormVisible: false,
                formLabelWidth: '120px'
            }
        }
    })

</script>
<script>
    (function () {
        ScrollReveal().reveal('.img', {
            distance: '200px',
            origin: 'bottom',
            duration: 1000,
            delay: 250,
            reset: true,
        });
        ScrollReveal().reveal(
            '.titleText',
            {
                distance: '200px',
                origin: 'left',
                reset: true,
            }
        );
        ScrollReveal().reveal(
            '.loginPart',
            {
                distance: '200px',
                origin: 'left',
                reset: true,
            }
        );
        ScrollReveal().reveal(
            '.product_showName',
            {
                delay: 250,
                duration: 2000,
                distance: '200px',
                origin: 'top',
                reset: true,
            }
        );
        ScrollReveal().reveal(
            '.product_showDescription',
            {
                delay: 250,
                duration: 2000,
                distance: '200px',
                origin: 'top',
                reset: true,
            }
        );
    })();

</script>
<script type="text/javascript">
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl);
    });
</script>
</body>
</html>